.animalShow{
    position: relative;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 4px lightgray;
    margin: 10px;

}
.animal{
    height: 200px;

}
.heart{
    position: absolute;
    bottom: 10%;
    right: 10%;
}